.navbar{
    height: 50px;
    background-color: burlywood;
    display: flex;
    justify-content: center;

}
.navbarContainer{
    width: 100%;
    max-width: 1024px;
    color:blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
};

.logo{
    font_weight: 500;
}

.navBtn{
    margin-left:20px ;
    border: none;
    padding: 5px 10px;
    cursor: pointer; 
    color: blue;      
}